@font-face {
	font-family: Quicksand;
	src: url("/fonts/Quicksand-Bold.ttf") format("opentype");
	font-weight: 900;
}

@font-face {
	font-family: Quicksand;
	src: url("/fonts/Quicksand-Medium.ttf") format("opentype");
	font-weight: 500;
}

@font-face {
	font-family: Quicksand;
	src: url("/fonts/Quicksand-Regular.ttf") format("opentype");
	font-weight: 300;
}

@font-face {
	font-family: Quicksand;
	src: url("/fonts/Quicksand-Light.ttf") format("opentype");
	font-weight: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: 'Gilroy';
}
