@use "variables";

.header_container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    padding: 0 4%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;

    .header_inner {
        margin: 0 8%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 768px) {
            max-width: 1536px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .primary_logo_container {
        display: block;
    }

    .secondary_logo_container {
        display: none;
    }
    
    nav {
        display: flex;
        justify-content: end;
        gap: 2rem;
        align-items: center;
        ul {
            margin-top: 1px;
            display: inline-block;
            width: fit-content;
            a {
                color: #03040D;
                font-family: 'Geist Mono', sans-serif;
                text-transform: capitalize;
            }
            a:hover li {
                text-decoration: underline;
               
            }
            li {
                font-size: 1.2rem;
                list-style: none;
                width: fit-content;
                display: inline-block;
                margin: 0 10px;
            }
        }
    }
}

@media (max-width: variables.$sm) {
    .header_container {
        .header_inner {
            flex-direction: column;
            align-items: center;
            margin: 0;
        }

        .primary_logo_container {
            display: none;
        }

        .secondary_logo_container {
            display: block;
            margin-top: 20px;
        }

        nav {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
            width: 100%;
            ul {
                // margin-bottom: 1rem;
                text-align: center;
                li {
                    margin: 5px 13px;
                }
            }
        }
    }
}
