@use "variables";

.layout_section {
    margin: 0 0%;
    color: variables.$text_default_color;
}

@media (max-width: variables.$sm) {
    .layout_section {
        margin: 0 0px;
        padding-bottom: 7px;
    }
}