@use "variables";

.text_box {
    display: inline-block;
    background-color: variables.$gray;
    width: 100%;
    padding: 30px;
    border-radius: 7px;
    text-align: left;
    height: 100%;
    h3 {
        margin-bottom: 20px;
        font-size: 1.4rem;
        min-height: 50px;
    }
    p {
        font-size: 1.3rem;
        line-height: 1.9rem;
        font-weight: 100;
    }
}

.link {
    cursor: pointer;
}

@media (max-width: variables.$sm) {
    .text_box {
        width: 94%;
        margin: 0 3%;
    }
}
